# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / Rider / Resharper
.idea/
.vs/
*.user
*.userosscache
*.sln.docstates
_ReSharper.Caches/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.ide/

# NuGet Packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
[Pp]ackages.dgml
project.lock.json
project.assets.json

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
